<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1,  target-densitydpi=device-dpi" />
        <meta http-equiv="Content-Security-Policy"
              content="default-src *;
               script-src 'self' 'unsafe-inline' 'unsafe-eval'
                           http://*.firebase.com
                           http://*.firebaseio.com
                           https://*.firebaseio.com
                           ;
               style-src  'self' 'unsafe-inline'
                           http://*.firebase.com
                           http://*.firebaseio.com
                           https://*.firebaseio.com
">

        <link rel="stylesheet" type="text/css" href="css/ionic.min.css" />
        <link rel="stylesheet" type="text/css" href="css/libs/toastr.min.css" />
        <link rel="stylesheet" type="text/css" href="css/libs/featherlight.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>RoundTable</title>
    </head>
    <body>
        <div id="main" class="page active">
            <div class="bar bar-header bar-light">
                <h1 class="title">RoundTable</h1>
                <a id="settings-button" class="button button-icon icon button-clear ion-android-settings"></a>
            </div>
            <div>
                <div id="devicelistLoader" class="loader-area devicelistMode">
                    <div class="loader"></div>
                </div>
                <div class="list hidden devicelistMode" id="devicelistContainer">
                    <div class="item item-divider">
                        <span>
                            Group Members
                        </span>

                        <a id="clear-scan-button" class="clear-scan button button-light button-small">Clear</a>
                        <div id="scanning" class="scanning icon ion-refresh hidden"></div>
                    </div>
                    <ul id="devicelist" class="devicelist"></ul>
                </div>
                <div id="devicelistError" class="error-message hidden devicelistMode">
                    <div class="icon"><i class="icon ion-ios-thunderstorm"></i></div>
                    <div class="message">Couldn't call home. Please ensure you're online.</div>
                    <a class="error-retry">Retry</a>
                </div>
                <div id="devicelistServerError" class="error-message hidden devicelistMode">
                    <div class="icon"><i class="icon ion-alert-circled"></i></div>
                    <div class="message">Couldn't find your group on the server. Please check your group ID and try again.</div>
                    <a class="error-retry">Retry</a>
                </div>
            </div>
            <footer>
                <div class="button-bar cta-button">
                    <button class="button button-positive" id="startMeetingButton">Create New Meeting</button>
                </div>
            </footer>
        </div>
        <div id="settings" class="page">
            <div class="bar bar-header bar-light">
                <a class="button button-icon icon ion-arrow-left-b back-button"></a>
                <h1 class="title">Settings</h1>
            </div>
            <div class="list settings-options">
                <label class="item item-input">
                    <span class="input-label">Group ID</span>
                    <input type="text" id="groupIdField">
                </label>
            </div>
            <div class="button-bar cta-button">
                <button class="button button-positive" id="saveButton">Save</button>
            </div>
        </div>

        <div id="meetingConfig" class="page">
            <div class="bar bar-header bar-calm">
                <a class="button button-icon icon ion-arrow-left-b back-button"></a>
                <h1 class="title">Configure New Meeting</h1>
            </div>
            <div>
                <div class="list">
                    <div class="item item-divider">
                        Meeting with <span id="memberNameList"></span>
                    </div>
                    <label class="item item-input item-select">
                        <span class="input-label">Moderator</span>
                        <select id="mediatorField"></select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Meeting Type</span>
                        <select id="meetingTypeField">
                            <option value="study">Study/Homework</option>
                            <option value="social">Social</option>
                            <option value="other">Other</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Location</span>
                        <select id="meetingLocationField">
                            <option value="meetingroom">Study room</option>
                            <option value="classroom">Classroom</option>
                            <option value="hallwayatrium">Hallway/Atrium</option>
                            <option value="outdoors">Outdoors</option>
                            <option value="office">Private office</option>
                            <option value="apartment">Apartment</option>
                            <option value="bar">Bar/Restaurant</option>
                            <option value="other">Other</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Meeting<br>Description</span>
                        <textarea type="text" id="meetingDescriptionField"></textarea>
                    </label>
                </div>
            </div>
            <footer>
                <div class="button-bar cta-button">
                    <button class="button button-calm" id="startMeetingConfirmButton">Begin Meeting</button>
                </div>
            </footer>
        </div>

        <div id="meeting" class="page">
            <div class="bar bar-header bar-balanced">
                <h1 class="title">Meeting</h1>
                <a id="debug-chart-button" class="button button-icon icon button-clear ion-hammer"></a>
            </div>
            <div>
                <div class="clock-wrapper">
                    <div class="clock-title">Meeting Duration</div>
                    <div class="clock" id="clock"></div>
                </div>
                <div id="visualization" class="visualization-wrapper">
                    <div id="meeting-mediator" class="meeting-mediator"></div>
                </div>
                <div id="meetingmemberlist" class="meeting-member-list list list-inset">
                    <div class="item item-divider">
                            Meeting Members
                    </div>
                    <ul id="meetingmemberlist-content" class=""></ul>
                </div>
                <div class="hidden">
                    <div id="debug-charts" class="debug-charts"></div>
                </div>
                <script type="text/template" id="debug-chart-template">
                    <div class="debug-chart card" data-key="<%= key %>">
                        <div class="name"><%= name %></div>
                        <canvas></canvas>
                        <div class="last_update"></div>
                    </div>
                </script>
            </div>
            <footer>
                <div class="button-bar cta-button">
                    <button class="button button-balanced" id="endMeetingButton">End Meeting</button>
                </div>
            </footer>
        </div>

        <script type="text/javascript" src="js/libs/jquery-1.12.3.min.js"></script>
        <script type="text/javascript" src="js/libs/underscore-min.js"></script>
        <script type="text/javascript" src="js/libs/toastr.min.js"></script>
        <script type="text/javascript" src="js/libs/featherlight.js"></script>
        <script type="text/javascript" src="js/libs/d3.v3.min.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/localsettings.js"></script>
        <script type="text/javascript" src="js/DataAnalyzer.js"></script>
        <script type="text/javascript" src="js/mm.js"></script>
        <script type="text/javascript" src="js/bundle.js"></script>
    </body>
</html>