/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    height:100%;
    min-height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    min-height: 100%;
    margin:0px;
    padding:0px;
    width:100%;
    line-height:2.2em;
}
footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}



.page, .dialog {
    display:none;
    padding-top:43px;
}
.page.active {
    display:block;
}
.hidden {
    display:none !important;
}

.loader-area {
    height:100px;
    width:100px;
    margin:0px auto;
    padding-top:150px;
}
.loader,
.loader:before,
.loader:after {
    background: #00695C;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1.3em;
    height: 4em;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -2em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader {
    color: #00695C;
    text-indent: -9999em;
    margin: 20px auto;
    position: relative;
    font-size: 13px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
    left: 2em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
#toast-container>div {
    margin:0;
    font-size:16px;
    width:100% !important;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    -moz-box-shadow:0 0 12px #999;
    -webkit-box-shadow:0 0 12px #999;
    box-shadow:0 0 12px #999;
    opacity:1;
    -ms-filter:alpha(Opacity=100);
    filter:alpha(opacity=100);
}
@media all and (max-width: 240px) {
    #toast-container > div {
        padding: 14px 14px 14px 50px;
    }
}
@media all and (min-width: 241px) and (max-width: 480px) {
    #toast-container > div {
        padding: 14px 14px 14px 50px;
    }
}
@media all and (min-width: 481px) and (max-width: 768px) {
    #toast-container > div {
        padding: 25px 25px 25px 50px;
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.scanning {
    display: inline-block;
    float: right;
    color: #aaaaaa;
    font-size: 26px;
    margin-right: -5px;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;

    height: 25px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    padding-left: 3px;
}
.clear-scan {
    float: right;
    margin-left: 20px;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -5px;
}

.settings-options {
}
.cta-button {
    padding:30px 15px 15px;
    box-sizing: border-box;
}
.devicelist .item.active {
    background-color:transparent;
}
.meeting-member-list .item *,
.devicelist .item * {
    vertical-align: middle;
}
.meeting-member-list .item i,
.devicelist .item i {
    color: #ccc;
    font-size:26px;
    float:right;
    margin-right:10px;
    margin-left:15px;
}
.devicelist .item.active i.present-icon {
    color: #3dd928;
}
.meeting-member-list {
    z-index:0;
}
.meeting-member-list .item {
    height: 42px;
    padding-top: 5px;
}
.meeting-member-list .item .battery-icon {
    display:none;
}

.active .battery-icon.green {
    color: #3dd928;
}
.active .battery-icon.yellow {
    color: #ebe31c;
}
.active .battery-icon.red {
    color: #e7241f;
}


.error-message {
    text-align: center;
}
.error-message .icon {
    color:#FFC107;
    font-size:80px;
    margin-top:60px;
    margin-bottom:30px;
}
.error-message .message {
    margin: 0 40px;
    font-size:20px;
}
.error-retry {
    margin: 20px 0 0;
    display:inline-block;
    font-size:24px;
}

.featherlight {
    padding: 30px !important;
    height: 100% !important;
}
.featherlight .featherlight-content {
    width:100% !important;
    height:100% !important;
    border-radius:3px;
    margin:0 !important;
}
.featherlight .featherlight-close {
    font-size: 40px;
    top: 10px;
    right: 15px;
    color:#999 !important;
}

.debug-charts {
    width:100%;
    padding-top:20px;
    padding-bottom:30px;
    text-align: center;
}
.debug-charts .name {
    padding:10px;
    font-size:20px;
}
.debug-charts .last_update {
    padding:10px;
    font-size:12px;
}
.debug-charts canvas {
    width: 100%;
    padding: 0 20px;
}


.clock-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
}
.clock {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.visualization-wrapper {
}
.meeting-mediator {
    width:300px;
    height:300px;
    margin:0 auto;
}